@charset "UTF-8";
head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#000000",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.colorblanco {
  color: #fff1f1;
}

/*título*/
h1 {
  padding: 0,1rem;
  color: red;
  font-size: 45px;
  font-style: italic;
  text-align: center;
}

/*menú de navegación*/
.logo {
  height: 40px;
}

.navbar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#comunidad {
  color: green;
}

/*etiquetas para la imagen del body*/
.conteinerr {
  border: 4px solid white;
  display: -ms-grid;
  display: grid;
  background-color: #080808;
  gap: 10px;
  -ms-grid-columns: 310px 310px;
      grid-template-columns: 310px 310px;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  padding: 5px;
  margin: 0 auto;
}

.hijoconteinerr {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.textoconteinerr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

/*footer*/
footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  margin: 1px;
}

h6 {
  height: 50px;
  text-align: end;
  color: white;
}

/*centrar*/
.centro {
  text-align: center;
  margin-top: 100px;
  table-layout: center;
}

.medio {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  table-layout: center;
}

/*contenido del footer*/
.contenedor {
  display: -ms-grid;
  display: grid;
  background-color: #3f0c0c;
  -ms-grid-columns: auto-fit 300px 300px;
      grid-template-columns: auto-fit 300px 300px;
  -ms-grid-rows: 150 150;
      grid-template-rows: 150 150;
  padding: 5px;
  border-radius: 20px;
}

.contenedorhijo {
  text-align: center;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.iz {
  color: #fffefe;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.de {
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
}

/*para que los textos del footer estén uno de cada lado*/
.izquierda {
  -webkit-transform: translate(100px, 20px);
          transform: translate(100px, 20px);
}

.derecha {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
}

/*para el color de fondo de la tabla*/
.trfondo {
  color: white;
  background-color: red;
}

/*para las fotos de la pag 4*/
.padre {
  border: 4px solid white;
  display: -ms-grid;
  display: grid;
  background-color: red;
  gap: 10px;
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 400px 400px;
      grid-template-rows: 400px 400px;
  padding: 5px;
  margin: 0 auto;
}

.hijo {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.flexfotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 290px;
  padding: 15px;
}

/*contenido y fondo de la vida personal*/
.gridtexto {
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  background-color: red;
}
/*# sourceMappingURL=main.css.map */