header{
    box-sizing: border-box;
    background: black;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#000000",GradientType=1);
    display: flex;
    justify-content: center;
    flex-flow: column;
}
body{
    display: flex;
    height: 500px;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    background-color: black;
}

/*título*/
h1{
    padding: 0,1rem;
    color: $terColor;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}


/*menú de navegación*/
.logo{
    height: 40px;
}
.navbar{
    align-self: center;
}
#comunidad{
    color: $verde;
}

