head{
    box-sizing: border-box;
    display: flex;
}
header{
    box-sizing: border-box;
    background: black;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#000000",GradientType=1);
    display: flex;
    justify-content: center;
    flex-flow: column;
}
body{
    display: flex;
    height: 600px;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    background-color: black;
}

    
.colorblanco{
    color: rgb(255, 241, 241);
}

/*título*/
h1{
    padding: 0,1rem;
    color: red;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}


/*menú de navegación*/
.logo{
    height: 40px;
}
.navbar{
    align-self: center;
}
#comunidad{
    color: green;
}

/*etiquetas para la imagen del body*/
.imagen{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: max-content;
    max-width: 1000px;
    margin-bottom: 20px;
    
}
.imagen img{
    width: 310px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
}
.imagen p{
    color: white;
    text-align: center;
}

/*footer*/
footer{
    flex:1;
    padding: 1rem;
    margin:1px;
}
h6{
    height: 50px;
    text-align: end;
    color: white;
}


/*centrar*/
.centro{
    text-align: center;
    margin-top: 100px; 
    table-layout: center;   
}
.medio{
    text-align: center;
    align-items: center;
    table-layout: center;
}

/*contenido del footer*/
.contenedor{
    background-color: rgb(255, 183, 0);
    height: 300px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 50% 50%;
   
}
.contenedorhijo1{

}
.contenedorhijo2{

}
.contenedorhijo3{
    display: flex;
}
.iz{
    text-align: left;
    margin-left: 130px;
}
.de{
    text-align: right;
    margin-right: 130px;
}

/*para que los textos del footer estén uno de cada lado*/
.izquierda{
    transform: translate(100px,20px);
}
.derecha{
    transform: translate(10px,20px);
}

/*para el color de fondo de la tabla*/
.trfondo{
    color: white;
    background-color: red;
}
/*para las fotos de la pag 4*/
.padre{
 border: 4px solid white;
 display: grid;
 background-color: red;
 gap: 10px;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 400px 400px;
 padding: 5px;
}
.hijo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    
}

.flexfotos{
    display: flex;
    width: 500px;
    height: 290px;
    padding: 15px;
}

/*contenido y fondo de la vida personal*/
.gridtexto{
    flex: content;
    justify-content: center;
    display: grid;
    background-color: red;
}