/*footer*/
footer{
    flex:1;
    padding: 1rem;
    margin:1px;
    h6{
        height: 50px;
        text-align: end;
        color: $MainColor;
    }    
}

/*contenido del footer*/
.contenedor{
    display: grid;
    background-color: $colorfooter;
    grid-template-columns: auto-fit 300px 300px;
    grid-template-rows: 150 150;
    padding: 5px;
    border-radius: 20px;
    .contenedorhijo{
        text-align: center;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;   
    }   
    .iz{
            color: $MainColor;
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center; 
    }
    .de{
            color: $MainColor;
            text-align: center;
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;   
            grid-column: 1/ span 2;
    }
        

}


/*para que los textos del footer estén uno de cada lado*/
.izquierda{
    transform: translate(100px,20px);
}
.derecha{
    transform: translate(10px,20px);
}

