/*etiquetas para la imagen del body*/
.conteinerr{
    border: 4px solid $MainColor;
    display: grid;
    background-color: $SecColor;
    gap: 10px;
   
    grid-template-rows: 400px;
    padding: 5px;
    margin: 0 auto;
    .hijoconteinerr{
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;   
    }
    .textoconteinerr{
        justify-content: center;
        object-fit: contain;
        color: $MainColor;
    }
}

