.colorblanco{
    color: $MainColor;
}
/*centrar*/
.centro{
    text-align: center;
    margin-top: 100px; 
    table-layout: center;   
}
.medio{
    text-align: center;
    align-items: center;
    table-layout: center;
}

/*para el color de fondo de la tabla*/
.trfondo{
    color: $MainColor;
    background-color: $terColor;
}

/*contenido y fondo de la vida personal*/
.gridtexto{
    flex: content;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    background-color: $terColor ;
    border: 4px solid $MainColor;
    margin: 0 auto;
    .textovp{
        justify-content: center;
        object-fit: contain;
        color: $MainColor;
    }
}
.videoconteiner{
    border: 4px solid red;
    display: grid;
    gap: 10px;
    grid-template-rows: 400px;
    padding: 5px;
    margin: 0 auto;
}
video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;  
}
